body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 400;
  color: #333;
  font-size: 1.5rem;
  margin: 5%;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.bg {
  background-color: #4F4557;
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  border-radius: 2% 2% 0 0;
}

#sidebar_font a {
  color: rgb(255, 255, 255);
}

#sidebar_font a:hover {
  color: rgb(254, 164, 18);
}


/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.dashboard {
  width: 120vh;
  height: 70vh;
  padding: 1%;
  margin-top: 2%;
  margin-left: 8%;
  border-radius: 2%;
  /* box-shadow: 0 0 0 3px rgba(255, 255, 255, .25); */
}

.reading_container {
  display: flex;
  justify-content: space-around
}

.readings {
  width: 40vh;
  height: 25vh;
  background: #FF512F;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F09819, #FF512F);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F09819, #FF512F);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 2.5% 0 0 3%;
}

.readings2 {
  width: 40vh;
  height: 25vh;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  padding: 2.5% 0 0 3%;
}

.readings2 h1 {
  padding-left: 35%;
  font-size: 4rem;
}

.tb_resp {
  overflow-y: scroll;
  height: 50vh;
}