<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SASS</title>

    <link rel="stylesheet" type="text/css" href="../static/css/main.css">

    <link rel="stylesheet" href="../bootstrap-5.2.0-dist/css/bootstrap.min.css">

    <script src="../bootstrap-5.2.0-dist/js/bootstrap.bundle.js"></script>

    <script src="https://use.fontawesome.com/76f63edc47.js"></script>

    <script src="https://kit.fontawesome.com/b78dd34b72.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="mainFormContainer2">
        <center>
            <div class="bar2">

            </div>

            <form action="" class="form2 m-3 shadow rounded">
                <div class="m-3 h1_p1">
                    <h1><i class="fa-solid fa-user" style="color: #0d72bf;"></i> Rest Your Password</h1>

                    <p class="text-primary m-5">Enter your email below to recieve an alert to reset your password <i
                            class="fa-solid fa-key"></i></p>
                </div>
                <div class="inputs_container">
                    <div class="inputs">
                        <input class="form-control form-control-lg m-2" type="email" placeholder="Email"
                            aria-label=".form-control-lg example">
                    </div>
                    <input type="submit" class="btn btn-outline-primary button" value="Login">
                </div>
            </form>
        </center>
    </div>

</body>

</html>